page-login {
    img {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        border: 0px;
    }
    ion-item > .item-inner {
        border-bottom: 0px!important;
    }
    .button {
        margin-top: 10%;
    }
    h6 {
        font-size: 12px;
        text-align: right;
        cursor: pointer;
    }
    .sumir {
        display: none;
    }
    .body {
        background-image: linear-gradient(to top, #065d16 0%, #127824 100%);
    }
    ion-item, ion-item-divider {
        background-color: rgba(255, 255, 255, 0)!important;
    }
    ion-label, h6 {
        font-weight: bold;
    }
    ion-input {
        color: white;
    }
    button {
        border-radius: 16px!important;
    }
}
