<ion-content padding class="body">

    <div class="header">
        <img src="../assets/imgs/icon.png">
        <img src="../assets/imgs/logo.png">
    </div>

    <ion-item-group *ngIf="(!armazenado)"> 
        <ion-item class="inputs-form">
            <ion-label color="grey">
                <ion-icon name="person"></ion-icon>
            </ion-label>
            <ion-input type="email" [(ngModel)]="email" id="email" name="email" placeholder="E-mail"></ion-input>
        </ion-item>

        <ion-item class="inputs-form">
            <ion-label color="grey">
                <ion-icon name="key"></ion-icon>
            </ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Senha"></ion-input>
        </ion-item>
    
        <button ion-button block color="primary" (click)="efetuarLogin()">
            <ion-item-group class="inner-button">
                <label item-start >Entrar &nbsp;</label>
                <ion-icon name="open"></ion-icon>
            </ion-item-group>
        </button>
    </ion-item-group>

    <ion-item-group *ngIf="(armazenado)">
        <div class="buttons">
            <button ion-button block color="secondary" (click)="autenticacao()" class="finger-button">
                <ion-icon item-end name="finger-print"></ion-icon>
            </button>
            <button ion-button block color="danger" (click)="reset()" class="finger-button">
                <ion-icon name="close"></ion-icon>
            </button>
        </div>
        <ion-label class="confirm-user">Você é <span>{{this.name}}</span> ?</ion-label>
    </ion-item-group>
</ion-content>