page-login {
    .header {
        margin-top: 20px;
    }
    .body {
        color: #222!important;
        background-image: radial-gradient(circle, #f4f4f4, #f2f2f2, #f0f0f0, #eeeeee, #ececec);
    }
    button {
        border-radius: 36px!important;
        margin-top: 30px!important;
        height: 6rem!important;
    }
    .finger-button {
        width: 40%;
        font-size: 20px;
    }
    .buttons {
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
    }
    .inputs-form {
        color: #272626!important;
        margin-top: 20px!important;
        border-radius: 36px;
        box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.23);
        padding: 3px;
    }
    .inputs-form > .item-inner {
        padding-right: 0px!important;
        border-bottom: 0px solid #dedede!important;
        box-shadow: inset 0 0px 0 0 white!important;
    }
    .inputs-form ion-icon {
        margin-left: 10px!important;
    }
    .confirm-user {
        color: #222;
        text-align: center;
    }
    .confirm-user > span {
        color: #008bf7;
        font-weight: bold;
    }
}
