<ion-content class="body" padding>
    <ion-item>
        <img src="assets/imgs/logo-gov.png" alt="MyApp">
    </ion-item>

    <form [class]="armazenado ? 'sumir' : ''" (ngSubmit)="efetuarLogin()" #formulario="ngForm">
        <ion-item>
            <ion-label color="light" floating>E-mail</ion-label>
            <ion-input type="email" [(ngModel)]="email" id="email" name="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="light" floating>Senha</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>
        <h6 ion-text end color="primary">Esqueceu a senha?</h6>
    </form>

    <ion-item-group *ngIf="(!armazenado)"> 
        <button ion-button block color="yellow" (click)="formulario.ngSubmit.emit()">
            <label item-start >Entrar &nbsp;</label>
            <ion-icon name="open"></ion-icon>
        </button>
    </ion-item-group>

    <ion-item-group *ngIf="(armazenado)">
        <ion-label color="light">Você é {{this.email}} ?</ion-label>
        <button ion-button block color="yellow" (click)="autenticacao()">
            <label item-start >Autenticar &nbsp;</label>
            <ion-icon item-end name="finger-print"></ion-icon>
        </button>
        <ion-item-divider></ion-item-divider>
        <button ion-button block color="danger" (click)="reset()" >
            <label item-start >Reentrar &nbsp;</label>
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-item-group>
</ion-content>
