page-home {
    .body {
        background-color: #f4f4f4;
    }
    .transparente > .item-inner {
        border-bottom: 0px!important;
    }
    .body h2 {
        font-weight: bold;
        margin-top: 0.4em!important;
    }
    .body h2, small {
        color: #222222;
    }
    .body ion-item, ion-item-divider {
        background-color: rgba(255, 255, 255, 0)!important;
    }
}
