page-info {
    .header ion-item > .item-inner {
        border-bottom: 0px!important;
    }
    .body p {
        text-align: justify;
    }
    .body {
        background-color: #f4f4f4;
    }
    .body p {
        color: #222222;
    }
}
